langchain
ipykernel
jupyter
python-dotenv
langchain_community
pypdf
bs4
arxiv
langchain-text-splitters
wikipedia
langchain-huggingface
sentence_transformers
faiss-cpu
chromadb
langchain_chroma
beautifulsoup4
langchain-classic
langchain-groq
fastapi
langserve
uvicorn
streamlit
crewai
crewai_tools
fastapi